body {
  background-color: "#fff";
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: "RobotoRegular";
  src: local("RobotoRegular"),
    url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "RobotoMedium";
  src: local("RobotoMedium"),
    url("./fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
}

#btnContainer .active {
  border-bottom: 3px solid #ededed;
  color: #d4eee3 !important;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}